name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@178fb9cef72bddd145814d69f1c46ab8d3fc07f6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}