# *************************************************************************************
#    НЕ УДАЛЯЙТЕ И НЕ РЕДАКТИРУЙТЕ ЭТОТ ФАЙЛ #
#    Этот файл генерируется автоматически и используется для запуска тестов #
# *************************************************************************************

name: hexlet-check

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Hexlet project check
        uses: hexlet/project-action@7bf9913d4b6fb8fb088989a5af856648727e7819
        with:
          hexlet-id: ${{ secrets.HEXLET_ID }}